html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

header, footer, main, section, article {
  display: block;
}

header, footer, main {
  display: block;
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}
header::after, footer::after, main::after {
  clear: both;
  content: "";
  display: block;
}
header:last-child, footer:last-child, main:last-child {
  margin-right: 0;
}

section {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}
section:last-child {
  margin-right: 0;
}

body {
  background-color: #00B16A;
  font: 100% Lato, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-feed {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  padding: 2vw;
}
.article-feed:last-child {
  margin-right: 0;
}
.article-feed .article {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  background: #fafafa;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 1em;
  margin-bottom: 2em;
  padding: 2vw;
  position: relative;
}
.article-feed .article:last-child {
  margin-right: 0;
}
.article-feed .article header {
  margin-bottom: 1em;
}
.article-feed .article header h2 {
  font-size: 4vw;
}
.article-feed .article header p {
  display: inline-block;
  font-size: 1.6vw;
}
.article-feed .article header .article-info {
  display: inline-block;
}
.article-feed .article header .article-category {
  position: absolute;
  top: 4vw;
  right: -1px;
}
.article-feed .article header .article-category .category-color {
  background-color: #F5CB5C;
  color: #fafafa;
  font-size: 1.6vw;
  padding: 2vw 4vw;
}
.article-feed .article header .article-category .category-one {
  background: #F5CB5C;
}
.article-feed .article header .article-category .category-two {
  background: #037171;
}
.article-feed .article section p {
  font-size: 2vw;
  margin-top: 2em;
  text-align: justify;
}
.article-feed .article section .text-holder, .article-feed .article section .figure-holder {
  float: left;
}
.article-feed .article section .text-holder {
  width: 70%;
  min-height: 24vw;
  margin-right: 3%;
}
.article-feed .article section .figure-holder {
  width: 25%;
}
.article-feed .article section .read-more {
  background: #8350B9;
  border-radius: 0.5em;
  font-size: 2vw;
  padding: 2vw 4vw;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  color: #fafafa;
  text-decoration: none;
}
.article-feed .article section .read-more:hover {
  background: #5d3687;
}
.article-feed .article section figure {
  margin-top: 1em;
  text-align: center;
}
.article-feed figure img {
  border-radius: 50%;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.14);
  width: 100%;
}
